.icon-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.svg-icon {
    height: 100%;
    width: 100%;
}

.icon-container fa-icon {
    width: 100%;
      height: 100%;
      font-size: inherit;
}
